In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from config import gkey
# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [2]:
# The path to our CSV file
file = "output_data/Final_WeatherData_DF.csv"
weather_data = pd.read_csv(file)
weather_data.head()

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,chara,56.91,118.26,53.55,68,92,4.90,RU,1599170768
1,1,atuona,-9.80,-139.03,78.28,76,7,18.25,PF,1599170768
2,2,albany,42.60,-73.97,73.90,62,99,3.62,US,1599170635
3,3,los llanos de aridane,28.66,-17.92,75.20,73,90,8.05,ES,1599170769
4,4,comodoro rivadavia,-45.87,-67.50,51.80,43,75,20.80,AR,1599170769

### Humidity Heatmap

#### Configure gmaps.
#### Use the Lat and Lng as locations and Humidity as the weight.
#### Add Heatmap layer to map.

In [3]:
weather_data = weather_data.dropna()

# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)
humidity_rate = weather_data["Humidity"].astype(float)

print(len(locations),len(humidity_rate))

546 546

In [4]:
# Create a Humidity layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

#### Narrow down the cities to fit weather conditions.
#### Drop any rows will null values.

In [5]:
narrowed_city_df = weather_data.loc[(weather_data["Humidity"] > 59) & (weather_data["Wind Speed"] > 20)].dropna()

narrowed_city_df

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
50,54,vestmannaeyjar,63.44,-20.27,48.83,71,69,27.83,IS,1599170783
65,70,talnakh,69.49,88.40,41.00,93,90,29.08,RU,1599170787
129,138,hobyo,5.35,48.53,76.39,79,68,26.80,SO,1599170807
170,183,husavik,66.04,-17.34,41.00,86,75,32.21,IS,1599170820
248,267,puerto ayora,-0.74,-90.35,71.26,60,20,20.80,EC,1599170830
297,320,tilichiki,60.47,166.10,45.79,75,12,24.05,RU,1599170860
339,367,darnah,32.77,22.64,77.13,82,0,21.00,LY,1599170877
345,374,olafsvik,64.89,-23.71,43.84,72,48,29.17,IS,1599170879
376,410,hays,30.05,-98.03,79.83,94,90,21.92,US,1599170888
494,534,vao,-22.67,167.48,66.07,69,100,21.41,NC,1599170922
497,538,rameswaram,9.28,79.30,82.94,80,79,21.43,IN,1599170922
500,541,bandarbeyla,9.49,50.81,76.28,80,63,22.21,SO,1599170923
536,580,kopavogur,64.11,-21.91,44.60,70,75,25.28,IS,1599170935
548,593,morant bay,17.88,-76.41,85.55,74,40,25.28,JM,1599170913

### Hotel Map

#### Store into variable named hotel_df.
#### Add a "Hotel Name" column to the DataFrame.
#### Set parameters to search for hotels with 5000 meters.
#### Hit the Google Places API for each city's coordinates.
#### Store the first Hotel result into the DataFrame.
#### Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = narrowed_city_df

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
50,54,vestmannaeyjar,63.44,-20.27,48.83,71,69,27.83,IS,1599170783,
65,70,talnakh,69.49,88.40,41.00,93,90,29.08,RU,1599170787,
129,138,hobyo,5.35,48.53,76.39,79,68,26.80,SO,1599170807,
170,183,husavik,66.04,-17.34,41.00,86,75,32.21,IS,1599170820,
248,267,puerto ayora,-0.74,-90.35,71.26,60,20,20.80,EC,1599170830,
297,320,tilichiki,60.47,166.10,45.79,75,12,24.05,RU,1599170860,
339,367,darnah,32.77,22.64,77.13,82,0,21.00,LY,1599170877,
345,374,olafsvik,64.89,-23.71,43.84,72,48,29.17,IS,1599170879,
376,410,hays,30.05,-98.03,79.83,94,90,21.92,US,1599170888,
494,534,vao,-22.67,167.48,66.07,69,100,21.41,NC,1599170922,
497,538,rameswaram,9.28,79.30,82.94,80,79,21.43,IN,1599170922,
500,541,bandarbeyla,9.49,50.81,76.28,80,63,22.21,SO,1599170923,
536,580,kopavogur,64.11,-21.91,44.60,70,75,25.28,IS,1599170935,
548,593,morant bay,17.88,-76.41,85.55,74,40,25.28,JM,1599170913,

In [7]:
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : gkey}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("No data found... skipping.")
            
    time.sleep(1)

hotel_df.dropna()

No data found... skipping.
No data found... skipping.

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
50,54,vestmannaeyjar,63.44,-20.27,48.83,71,69,27.83,IS,1599170783,Puffin Nest Capsule Hostel
65,70,talnakh,69.49,88.40,41.00,93,90,29.08,RU,1599170787,Talnakh Hotel
129,138,hobyo,5.35,48.53,76.39,79,68,26.80,SO,1599170807,Osmani Hotel
170,183,husavik,66.04,-17.34,41.00,86,75,32.21,IS,1599170820,Húsavík Cape Hotel
248,267,puerto ayora,-0.74,-90.35,71.26,60,20,20.80,EC,1599170830,Escalesia SeaFront
297,320,tilichiki,60.47,166.10,45.79,75,12,24.05,RU,1599170860,
339,367,darnah,32.77,22.64,77.13,82,0,21.00,LY,1599170877,Mountain Hotel
345,374,olafsvik,64.89,-23.71,43.84,72,48,29.17,IS,1599170879,Gamla Rif
376,410,hays,30.05,-98.03,79.83,94,90,21.92,US,1599170888,
494,534,vao,-22.67,167.48,66.07,69,100,21.41,NC,1599170922,OURE TERA beach resort
497,538,rameswaram,9.28,79.30,82.94,80,79,21.43,IN,1599170922,Jiwan Residency
500,541,bandarbeyla,9.49,50.81,76.28,80,63,22.21,SO,1599170923,Super secret pirate cove
536,580,kopavogur,64.11,-21.91,44.60,70,75,25.28,IS,1599170935,Reykjavik Domes
548,593,morant bay,17.88,-76.41,85.55,74,40,25.28,JM,1599170913,Golden Shore Resort

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))